{% extends "base.html" %}
{% block content %}

<script>
$(document).ready(function() {
  $('#add-chapter').click(function(ev){

    ev.preventDefault();
    var count = 1;
    
    var tmplMarkup = $('#chapter-template').html();
    var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
    $('div.chapters').append(compiledTmpl);
    // update form count
    $('#id_chapters-TOTAL_FORMS').attr('value', count+1);

     $('html, body').animate({
                  scrollTop: $("#add-chapter").position().top-200
              }, 800);
  });
});
</script>

<script type="text/html" id="chapter-template">
<div id="chapter-__prefix__">
    {{ form.as_p }}

</div>
</script>


<form action="{{ action }}" class="form-horizontal form-inline" method="post" enctype="multipart/form-data">

  {% csrf_token %}

{% if course %}
  <legend>Edit Chapters</legend>
{% else %}
  <legend>Add Chapters</legend>
{% endif %}
<!-- {{chapter}} -->
<!-- {{ chapters }} -->
<!-- {{course}}  -->

<!-- <p>
<label for="id_subtitle">Subtitle:</label>
<input id="id_subtitle" maxlength="255" name="subtitle" type="text" value="">
</p>
<p>
<label for="id_content">Content:</label>
<input id="id_content" maxlength="255" name="content" type="text" value="">
</p> -->



  {{ form.as_p }}
<!-- {{chapter}} -->
  <div class="chapters">
	  {% for chapter_form in form %}
	    <div id="chapter-{{ forloop.counter0 }}">
	      <!-- {{ chapter_form }} -->
	      <!-- {{ form.as_p }} -->

	    </div>
	  {% endfor %}
  </div>

 <div class="form-actions">
<!--    <a href="#" id="add-chapter" class="btn btn-info add-chapter" >Add Chapter</a> -->
   <button type="submit" class="btn btn-success">Add Chapter</button>
<a class="btn btn-primary" href="{% url "courses-list" %}">Back to list</a>
 </div>
</form>

 {% endblock content %}