{% extends "base.html" %}
{% load embed_video_tags %}
{% block content %}

{% load wysiwyg %}
{% wysiwyg_setup %}




<script>
$(document).ready(function() {
  $('#add-chapter').click(function(ev){

    ev.preventDefault();
    var count = 1;
    
    var tmplMarkup = $('#chapter-template').html();
    var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
    $('div.chapters').append(compiledTmpl);
    // update form count
    $('#id_chapters-TOTAL_FORMS').attr('value', count+1);

     $('html, body').animate({
                  scrollTop: $("#add-chapter").position().top-200
              }, 800);
  });
});
</script>

<script type="text/html" id="chapter-template">
<div id="chapter-__prefix__">
    {{ form.as_p }}

</div>
</script>
<form action="{{ action }}" class="form-horizontal form-inline" method="post" enctype="multipart/form-data">

  {% csrf_token %}
<!-- Ako postoji course_id(samo u create view) editaj ako ne dodaj -->
{% if course_id %}
  <legend>Edit Chapters</legend>
{% else %}
  <legend>Add Chapters</legend>
{% endif %}
<!-- ako postoji courses(createchapter), drugi(+) chapter -->
{% if courses %}
  {% for chapter in chapters %}
    {% if course_id == chapter.course_id or last.id == chapter.course_id %}
      {% video chapter.video 'small' %}
      <p><label for="id_subtitle">Subtitle:</label> <input id="id_subtitle" maxlength="255" name="subtitle" type="text" value="{{chapter.subtitle}}"></p>
      <p><label for="id_content">Content:</label> <input id="id_content" maxlength="255" name="content" type="text" value="{{chapter.content}}"></p>
      <p><select id="id_course" name="course" style="display:none;">
      <option value="{{chapter.course_id}}" selected="selected">{{chapter.course_id}}</option>

      </select></p>
      <p><label for="id_upload">Upload:</label>
      {% if chapter.upload %}
        Currently:  <a href="/media/{{chapter.upload}}">{{chapter.upload}}</a></p><p> Change: <input id="id_upload" name="upload" type="file"></p>
      {% else %}
        <input id="id_upload" name="upload" type="file"></p>

      {% endif %}

      <p><label for="id_video">Video:</label>
      <input id="id_video" maxlength="200" name="video" type="url" value="{{chapter.video}}"></p>
      <p>
      <label for="id_image">Image:</label>
      <input id="id_image" name="image" type="file">
      {% if chapter.image %} 
      <img src="{{chapter.image.url}}">
      {% endif %}
      </p>
      <p><label for="id_html">HTML:</label>
      {{chapter.html|safe}}
      </p>
    {% endif %}
  {% endfor %}
{% else %}
  {% for chapter in chapters %}
    {% if chapter_id == chapter.id %}
    {% video chapter.video 'small' %}
      <p><label for="id_subtitle">Subtitle:</label> <input id="id_subtitle" maxlength="255" name="subtitle" type="text" value="{{chapter.subtitle}}"></p>
      <p><label for="id_content">Content:</label> <input id="id_content" maxlength="255" name="content" type="text" value="{{chapter.content}}"></p>
      <p><select id="id_course" name="course" style="display:none;">
      <option value="{{course_id}}" selected="selected">{{course_id}}</option>

      </select></p>
      <p><label for="id_upload">Upload:</label>
      {% if chapter.upload %}
        Currently:  <a href="/media/{{chapter.upload}}">{{chapter.upload}}</a></p><p> Change: <input id="id_upload" name="upload" type="file"></p>
      {% else %}
        <input id="id_upload" name="upload" type="file"></p>
      {% endif %}

      <p><label for="id_video">Video:</label>
      <input id="id_video" maxlength="200" name="video" type="url" value="{{chapter.video}}"></p>
      <p>
      <label for="id_image">Image:</label>
      <input id="id_image" name="image" type="file">
    </p>
    {{form.html}}
    {% endif %}
  {% endfor %}
{% endif %}



<!-- nova forma -->
{% if not course_id %}
<p><label for="id_subtitle">Subtitle:</label> <input id="id_subtitle" maxlength="255" name="subtitle" type="text" value=""></p>
    <p><label for="id_content">Content:</label> <input id="id_content" maxlength="255" name="content" type="text" value=""></p>
    <p><select id="id_course" name="course" style="display:none;">
    <option value="{{last.id}}" selected="selected">{{last}}</option>

    </select></p>
    <p><label for="id_upload">Upload:</label>

      <input id="id_upload" name="upload" type="file"></p>

      <p><label for="id_video">Video:</label>
      <input id="id_video" maxlength="200" name="video" type="url"></p>
      <p>
      <label for="id_image">Image:</label>
      <input id="id_image" name="image" type="file"
      </p>
      {{form.html}}

{% endif %}






 <div class="form-actions">
<!--    <a href="#" id="add-chapter" class="btn btn-info add-chapter" >Add Chapter</a> -->
{% if course_id %}
<button type="submit" class="btn btn-success">Edit Chapter</button>
{% else %}
<button type="submit" class="btn btn-success">Add Chapter</button>
{% endif %}
   
<a class="btn btn-primary" href="{% url "courses-list" %}">Back to list</a>
 </div>
</form>
{% wysiwyg_editor "id_html" %}
 {% endblock content %}