{% extends "base.html" %}

{% block content %}
<h1>Courses</h1>

<ul>
  {% for course in object_list %}
    <li class="course">{{ course }}
    	(<a href="{% url "courses-edit" pk=course.id %}">edit</a>)
    	(<a href="{% url "courses-delete" pk=course.id %}">delete</a>)
    	{% if perms.course.can_view %}
		(<a href="/media/{{course.upload}}">view</a>)
		{% endif %}
    	
    </li>
  {% endfor %}
</ul>
<!-- PAGINACIJA -->
<!-- <div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div> -->
<a href="{% url "courses-new" %}">add course</a>
{% endblock %}