{% extends "base.html" %}
<!-- {% load group_tag %} -->
{% block content %}
<h1>Courses</h1>
<form method='GET' action=''>
	<input type='text' name='query' placeholder='Search course' value='{{ request.GET.query }}'/>
	<input type='submit' value='Search'/>
</form>

<ul>

  {% for course in object_list %}
    <li class="course">{{ course }}
    	(<a href="{% url "courses-edit" pk=course.id %}">edit</a>)
    	(<a href="{% url "courses-delete" pk=course.id %}">delete</a>)
    	{% if perms.course.can_view %}
		(<a href="{% url "courses-view" pk=course.id %}">view</a>)
		{% endif %}


    </li>
  {% endfor %}
</ul>
<a href="{% url "courses-new" %}">Add course</a>
<br>
<!-- PAGINACIJA -->
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}