{% extends "base.html" %}
{% block content %}



{% if course.id %}
<h1>Edit Course</h1>

{% else %}
<h1>Add Course</h1>
{% endif %}





<form action="{{ action }}" class="form-horizontal form-inline" method="post" enctype="multipart/form-data">

  {% csrf_token %}

  {{ form }}

<!-- 
  <legend>Chapters</legend> -->

<!--   <div class="chapters">
	  {% for chapter_form in formset %}
	    <div id="chapter-{{ forloop.counter0 }}">
	      <!-- {{ chapter_form.id }}
	      {{ chapter_form.as_p }}

	    </div>
	  {% endfor %}
  </div> --> 
  {% if course.id %}
<a href="{% url "chapters-edit" pk=chapter.pk %}">edit chapters</a>
{% endif %}
 <div class="form-actions">
<!--    <a href="#" id="add-chapter" class="btn btn-info add-chapter" >Add Chapter</a> -->
<a href="{% url "courses-list" %}">back to list</a>
   <button type="submit" class="btn btn-primary">Submit</button>
 </div>
</form>



  
{% endblock content %}
