{% extends "base.html" %}
{% block content %}



{% if course.id %}
<h1>Edit Course</h1>

{% else %}
<h1>Add Course</h1>
{% endif %}




<!-- Add course forma -->
<form action="{{ action }}" class="form-horizontal form-inline" method="post" enctype="multipart/form-data">

  {% csrf_token %}


<label for="id_title">Title:</label>
<input id="id_title" maxlength="255" name="title" type="text" value="{{course.title}}">

    
<select id="id_user" name="user"  style="display:none;">
<option value="{{user.id}}" selected="selected">{{user}}</option>
</select>
 <button type="submit" name="course" class="btn btn-success">Submit</button>
</form>




{% if course.id %}
<legend>Chapters</legend>
{% endif %}
{% for chapter in chapters %}
<div id="chapter-{{ forloop.counter }}">
	<legend>Chapter{{ forloop.counter }}</legend>
	<label for="id_subtitle">Subtitle:</label>
	<input id="id_subtitle" maxlength="255" name="subtitle" type="text" value="{{chapter.subtitle}} ">
	<label for="id_content">Content:</label>
	<input id="id_content" maxlength="255" name="content" type="text" value="{{chapter.content}} ">
	<label for="id_upload">File:</label>
	<a href="/media/{{chapter.upload}}">view</a>
	  <a class="btn btn-primary" href="{% url "chapters-edit" pk=chapter.pk %}">Edit chapter</a>
</div>
{% endfor %}

 <div class="form-actions">
 	{% if course.id %}
   <a href="{% url "courses-chapters" pk=course.id %}" id="add-chapter" class="btn btn-info add-chapter" >Add Chapter</a>
   {% endif %}
<a class="btn btn-primary" href="{% url "courses-list" %}">Back to list</a>
<!--    <button type="submit" name="chapter" class="btn btn-success">Submit</button> -->
 </div>




  
{% endblock content %}
